<!DOCTYPE html>
<html lang="en">

<% include head.ejs %>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<% include nav.ejs %>

<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">U.BEAT</h1>
                    <p class="intro-text">Welcome to your new music library.</p>
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Please log in</h2>
                        <ul class="list-inline banner-social-buttons">
                            <li><a href="/auth/google" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include scripts.ejs %>

</body>
</html>