<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light">U.</span>Beat
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="#">Documentation</a>
                </li>
                <li>
                    <a href="#">GitHub</a>
                </li>
                <% if (user) { %>
                <li>
                    <a href="/account">Logged in as <%= user.name %></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>